In [ ]:
! pip install sqlglot

Requirement already satisfied: sqlglot in /usr/local/lib/python3.12/dist-packages (25.20.2)

In [ ]:
import seaborn as sns
import pandas as pd
from sqlalchemy import create_engine
import duckdb

In [ ]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
engine = create_engine('sqlite:///:memory:')
df.to_sql('temp_table', engine, index=False, if_exists='replace')


query = """SELECT * FROM temp_table """

df_filtered = pd.read_sql(query, engine)

# 6. Display the results
print("Filtered Data from In-Memory SQL:")
df_filtered.head()

Filtered Data from In-Memory SQL:

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,1,None,Southampton,no,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,0,None,Southampton,yes,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,0,C,Southampton,yes,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,1,None,Southampton,no,1

## handle memory managemet

In [ ]:
! pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.45)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.3)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=3138c8d653cc9e68f62f253896da7131d24c71b6d187d736f636a7bc3c5ff210
  Stored in directory: /root/.cache/pip/wheels/15/a1/e7/6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from pandasql import sqldf

# This one line runs SQL directly against your DataFrame variable
df_filtered = sqldf("SELECT * FROM df ")
df_filtered

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,1,None,Southampton,no,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,0,None,Southampton,yes,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,0,C,Southampton,yes,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,1,None,Southampton,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,1,None,Southampton,no,1
887,1,1,female,19.0,0,0,30.0000,S,First,woman,0,B,Southampton,yes,1
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,0,None,Southampton,no,0
889,1,1,male,26.0,0,0,30.0000,C,First,man,1,C,Cherbourg,yes,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,1,None,Queenstown,no,1

## using the duckbd
## work well for inmemory

In [ ]:
df= df.iloc[:,0:4]
df

     survived  pclass     sex   age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [ ]:
res = duckdb.query("""select * from df where age>20""")
print(res)

┌──────────┬────────┬─────────┬────────┐
│ survived │ pclass │   sex   │  age   │
│  int64   │ int64  │ varchar │ double │
├──────────┼────────┼─────────┼────────┤
│        0 │      3 │ male    │   22.0 │
│        1 │      1 │ female  │   38.0 │
│        1 │      3 │ female  │   26.0 │
│        1 │      1 │ female  │   35.0 │
│        0 │      3 │ male    │   35.0 │
│        0 │      1 │ male    │   54.0 │
│        1 │      3 │ female  │   27.0 │
│        1 │      1 │ female  │   58.0 │
│        0 │      3 │ male    │   39.0 │
│        1 │      2 │ female  │   55.0 │
│        · │      · │   ·     │     ·  │
│        · │      · │   ·     │     ·  │
│        · │      · │   ·     │     ·  │
│        1 │      1 │ female  │   56.0 │
│        1 │      2 │ female  │   25.0 │
│        0 │      3 │ male    │   33.0 │
│        0 │      3 │ female  │   22.0 │
│        0 │      2 │ male    │   28.0 │
│        0 │      3 │ male    │   25.0 │
│        0 │      3 │ female  │   39.0 │
│        0 │      2 │ male    │   27.0 │
│        1 │      1 │ male    │   26.0 │
│        0 │      3 │ male    │   32.0 │
├──────────┴────────┴─────────┴────────┤
│ 535 rows (20 shown)        4 columns │
└──────────────────────────────────────┘

In [ ]:
def dataframe_to_schema(df, table_name="survival_titanic"):
    cols = []
    for col, dtype in df.dtypes.items():
        if "int" in str(dtype):
            sql_type = "INT"
        elif "float" in str(dtype):
            sql_type = "FLOAT"
        else:
            sql_type = "TEXT"

        cols.append(f"{col} {sql_type}")

    columns_sql = ",\n    ".join(cols)

    return print(f"""
Table {table_name} (
    {columns_sql}
)
""")

schema = dataframe_to_schema(df)
schema

Table survival_titanic (
    survived INT,
    pclass INT,
    sex TEXT,
    age FLOAT
)

## Torch code for sql code generation

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM

print(torch.cuda.is_available())
print(torch.cuda.get_device_name())

True
Tesla T4

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM

MODEL_NAME = "defog/sqlcoder-7b-2"
SAVE_DIR = "/content/drive/MyDrive/models/sqlcoder-7b-2"

# Load tokenizer and model
tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_NAME,
    torch_dtype=torch.float16,
    device_map="auto"
)

tokenizer.save_pretrained(SAVE_DIR)
model.save_pretrained(SAVE_DIR)

def generate_sql(user_prompt: str) -> str:
    prompt = f"""
### Question:
{user_prompt}

### SQL Query:
"""

    inputs = tokenizer(prompt, return_tensors="pt").to(model.device)

    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_new_tokens=256,
            temperature=0.0,
            do_sample=False,
            pad_token_id=tokenizer.eos_token_id
        )

    result = tokenizer.decode(outputs[0], skip_special_tokens=True)
    return result.split("### SQL Query:")[-1].strip()
# Example
if __name__ == "__main__":
    user_prompt = f"""schema:{schema}

Display survived, pclass, sex,age
Also compute average age of rows where age > 20
Use valid DuckDB SQL"""
    sql = generate_sql(user_prompt)
    print(sql)

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

KeyboardInterrupt:

## Validation fucntion

In [ ]:
import sqlglot
from sqlglot import exp

def validate_sql(sql: str, dialect="duckdb") -> bool:
    try:
        sqlglot.parse_one(sql, dialect=dialect)
        return True
    except Exception as e:
        print("❌ SQL validation failed:", e)
        return False

## query fixing code

In [ ]:
def fix_over_where(sql: str, dialect="duckdb") -> str:
    try:
        tree = sqlglot.parse_one(sql, dialect=dialect)
    except Exception:
        return sql  # Can't parse → return as is

    changed = False

    for node in tree.find_all(exp.Window):
        if node.args.get("where"):
            condition = node.args["where"]
            func = node.this

            # Convert: AVG(x) OVER (WHERE cond)
            # → AVG(x) FILTER (WHERE cond) OVER ()
            new_func = exp.Filter(
                this=func,
                where=condition
            )

            node.set("this", new_func)
            node.set("where", None)
            changed = True

    return tree.sql(dialect=dialect) if changed else sql

# Final

In [ ]:
def generate_sql(user_prompt: str,max_retires) -> str:
  for _ in range(max_retires):
    prompt = f"""
    ### Question:
    {user_prompt}

    ### valid DuckDB SQL Query:
    """

    inputs = tokenizer(prompt, return_tensors="pt").to(model.device)

    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_new_tokens=256,
            temperature=0.0,
            do_sample=False,
            pad_token_id=tokenizer.eos_token_id
        )

    result = tokenizer.decode(outputs[0], skip_special_tokens=True)
    sql = result.split("### valid DuckDB SQL Query:")[-1].strip()
    sql = fix_over_where(sql)
    if validate_sql(sql):
        return sql
  raise RuntimeError("Failed to generate valid SQL")

# Example
if __name__ == "__main__":
    user_prompt = f"""schema:{schema}

Display survived, pclass, sex,age
Also compute average age of rows where age > 20
"""
    sql = generate_sql(user_prompt,max_retires=5)
    print(sql)

❌ SQL validation failed: Expecting ). Line 1, Col: 65.
  SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age FROM survival_titanic s;
❌ SQL validation failed: Expecting ). Line 1, Col: 65.
  SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age FROM survival_titanic s;
❌ SQL validation failed: Expecting ). Line 1, Col: 65.
  SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age FROM survival_titanic s;
❌ SQL validation failed: Expecting ). Line 1, Col: 65.
  SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age FROM survival_titanic s;
❌ SQL validation failed: Expecting ). Line 1, Col: 65.
  SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age FROM survival_titanic s;

RuntimeError: Failed to generate valid SQL

'SELECT s.survived, s.pclass, s.sex, s.age, AVG(s.age) OVER (WHERE s.age > 20) AS avg_age_gt_20 FROM survival_titanic s;'

In [ ]:
def execute_llm_sql(con, sql):
    print("🔹 Original SQL:\n", sql)

    # Step 1: validate
    if not validate_sql(sql):
        raise ValueError("Invalid SQL generated by model")

    # Step 2: auto-fix common LLM errors
    fixed_sql = fix_over_where(sql)

    print("🔹 Fixed SQL:\n", fixed_sql)

    # Step 3: final validation
    if not validate_sql(fixed_sql):
        raise ValueError("SQL still invalid after fixing")

    # Step 4: execute
    return con.execute(fixed_sql).df()

In [ ]:
con = duckdb.connect()
result = execute_llm_sql(con, sql)
print(result)

ParserException: Parser Error: syntax error at or near "WHERE"

NameError: name 'df' is not defined

In [ ]:
prompt = f"""schema:{df.info()}

display survived age pclass sex  fare along with get the avg of all age where age greater than 20"""

print(prompt)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
schema:None

display survived age pclass sex  fare along with get the avg of all age where age greater than 20

In [ ]:
~/.cache/huggingface/hub/